<% page_title t(".title") %>
<div id="right">
  <h3><%=t(".filters")%></h3>
  <ul id="all_exceptions" class="filters">
    <li><%= link_to t(".latest_exceptions"), :action => 'index', :id => nil %></li>
  </ul>
  <h4><%=t(".exception")%></h4>
  <ul id="exception_names" class="filters">
    <% @exception_names.each do |name| %>
      <li><%= link_to name, {:action => 'query', :exception_names_filter => "#{name}"}, :class => 'filter_link' %></li>
    <% end %>
  </ul>
  <h4><%=t(".controller_action")%></h4>
  <ul id="controller_actions" class="filters">
    <% @controller_actions.each do |action| %>
      <li><%= link_to action, {:action => 'query', :controller_actions_filter => "#{action}"}, :class => 'filter_link' %></li>
    <% end %>
  </ul>
  <h4><%=t(".dates")%></h4>
  <ul id="date_ranges" class="filters">
    <li><%= link_to t(".today"), {:action => 'query', :date_ranges_filter => "1"}, :title => "1", :class => 'filter_link' %></li>
    <li><%= link_to t(".last_few_days"), {:action => 'query', :date_ranges_filter => "3"}, :title => "3", :class => 'filter_link' %></li>
    <li><%= link_to t(".last_7_days"), {:action => 'query', :date_ranges_filter => "7"}, :title => "7", :class => 'filter_link' %></li>
    <li><%= link_to t(".last_30_days"), {:action => 'query', :date_ranges_filter => "30"}, :title => "30", :class => 'filter_link' %></li>
  </ul>
  <div id="search">
    <%= form_tag "logged_exceptions/query", :id => 'query-form' %>
    <div>
      <%= text_field_tag :query, "", :size => 17 %>
      <%= submit_tag :Find %>
      <%= hidden_field_tag :exception_names_filter %>
      <%= hidden_field_tag :date_ranges_filter %>
      <%= hidden_field_tag :controller_actions_filter %>
      <%= hidden_field_tag :page, (params[:page] || 1) %>
    </div>
    </form>
  </div>
  <%= render :partial => 'feed' %>
</div> <!-- right -->
<div id="left">
  <div class="page" id="showpage" style="display:none;"></div>
  <div class="page">
    <%= render :partial => "exceptions" %>
  </div>
</div>
<div id="activity" style="display:none;"><%= t(".busy") %></div>
